{% extends 'base.html.twig' %}
 
 {% form_theme deleteForm 'bootstrap_4_layout.html.twig' %}
{% block title %}admin{% endblock %}

{% block body %}
<h1>suprimer projet</h1>

  
 
<button type="submit" class="btn btn-danger">suprimer</button>
  
 
 {% endblock %}